.ContextMenu {
    background-color: #f7f8f9;
    border-color: #ecedef;

    border-style: solid;
    border-width: 3px;
}

.ContextMenu>.ContextMenuItem {
    margin: 7px;
    color: #606060;
}

.ContextMenu>.ContextMenuItem:hover {
    color: #000000;
    font-weight: 500;
}


/*
td.JournalEntrySummary>textarea,
td.JournalEntrySummary,
td.AccountTitleInput>input,
td.AccountTitleInput {
    width: 200px;
    resize: none;
}

td.AmountInput,
td.AmountInput>input,
td.JournalEntryTotalTD,
td.JournalEntryTotalTD>button {
    width: 200px;
    resize: none;
}*/

td.AmountInput,
div.HorizontalSeparator {
    background-color: #000000;
}