/*MAIN STUFF*/


thead {
    font-weight: 700;
    font-size: 22px;
    color: #8c8d8f;
}

textarea {
    padding: 10px;
    margin-left: 5px;
}

/*CONTEXT MENU STUFF*/

.ContextMenu>.ContextMenuItem {
    margin: 7px;
    color: #606060;

}

.ContextMenu>.ContextMenuItem:hover {
    color: #000000;
    font-weight: 500;
}


/*Button stuff*/
button {
    border-style: none;
    box-shadow: 1px 1px 5px #00000088;
    background-color: #e2e3e5;
}

button:hover {
    background-color: #cccdcf;
}

button:active {
    background-color: #acadaf;
}

/* Journal EntryTable */
.TableFooter>tr>td>button {
    width: 100%;
}


.TableBody>tr>td>*,
.TableFooter>tr>td>*,
.TableFooter>tr>td>*>* {
    width: inherit;
    box-sizing: border-box;
}


.TableBody>*>* {
    padding: 0px 2px 6px 2px;
}

.TableFooter>tr>td {
    padding-top: 5px;

}

tr {
    background-color: #ecedef;
}


td {
    padding: 2px;
    width: 400px;
}