.EntryList .Entry td {
    padding: 10px;
}

.EntryList .Entry td:nth-child(2),
.EntryList .Entry td:nth-child(3) {
    border: 0px none black;
    border-right: 1px solid #00000033;
}

.EntryList .Entry tr:last-child td:nth-child(1),
.EntryList .Entry tr:last-child td:nth-child(2) {
    border-bottom: 1px solid #00000033;
}

.EntryList .EntryRow .col-date {
    font-size: smaller;
}

.EntryList .col-dbt,
.EntryList .col-cdt {
    text-align: right;
}