.EntryList .Entry.HasError {
    background-color: #ffecec !important;
    border: 3px dashed #ff0000 !important;
}

.EntryList td {
    padding: 10px;
}

.EntryList .Entry td:nth-child(2),
.EntryList .Entry td:nth-child(3) {
    border: 0px none black;
    border-right: 1px solid #00000033;
}

.EntryList .Entry tr:last-child td:nth-child(1),
.EntryList .Entry tr:last-child td:nth-child(2) {
    border-bottom: 1px solid #00000033;
}

.EntryList .col-date {
    font-size: smaller;
    border-right: 1px dotted #00000033;
}

.EntryList .col-dbt,
.EntryList .col-cdt {
    text-align: right;
}


.EntryList .EntryRow.Credit td.col-acct {
    padding-left: 8%;
}

.EntryList .EntrySummary td {
    font-size: smaller;
    font-weight: 200;
}