tbody.TableFooter {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00000033;
}



.TableFooter td {
    padding-top: 10px;
}

tbody.TableFooter .JournalEntrySummary {
    width: 300px;
    padding: 10px;
    margin-left: 5px;
}

.JournalEntrySummary>textarea {
    background-color: #f6f6f6;
    border-width: 1px;
    border-color: #8c8c8c;
    color: #4c4c4c;
    border-style: dashed;
    padding: 10px 10px 10px 20px;
    resize: none;
}

.JournalEntrySummary.HasErrors>textarea {
    background-color: #ececec;
    border-style: solid;
    border-color: #acacac;
    color: #8c8c8c;

}

tbody.TableFooter textarea:focus {
    outline-style: none !important;
}

tbody.TableFooter>* {
    vertical-align: top;
}