/** Button stuff */

tbody.TableFooter button {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    width: 95%;
    margin: 1%;
    outline-style: solid;
    outline-width: 1px;
    border-style: none;
}

tbody.TableFooter button.JournalEntryTotal.DebitLeaning {
    padding-right: 70%;
    text-align: right;
}

tbody.TableFooter button.JournalEntryTotal.CreditLeaning {
    padding-right: 20%;
    text-align: right;
}

tbody.TableFooter button.JournalEntryTotal.HasErrors {
    background-color: #ffecec;
    outline: #cc8c8c solid 1px;
    color: #cc4c4c;
}

tbody.TableFooter button.JournalEntryTotal.Valid {
    background-color: #ecffec;
    outline: #4c884c solid 1px;
    color: #4c884c;
}

tbody.TableFooter button.JournalEntryTotal.Valid:hover {
    background-color: #bceebc;
    color: #2c662c;
}

tbody.TableFooter button.JournalEntryTotal.Valid:active {
    background-color: #acddac;
}