.JournalEntryForm tbody.TableFooter {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00000033;
}



.JournalEntryForm .TableFooter td {
    padding-top: 10px;
}

.JournalEntryForm tbody.TableFooter .JournalEntrySummary {
    width: 280px;
    vertical-align: center;
    text-align: center;
}

.JournalEntryForm .JournalEntrySummary>textarea {
    background-color: #f6f6f6;
    border-width: 1px;
    border-color: #8c8c8c;
    color: #4c4c4c;
    border-style: dashed;
    padding: 10px 10px 10px 20px;
    resize: none;
}

.JournalEntryForm .JournalEntrySummary.HasErrors>textarea {
    background-color: #ffecec;
    border-style: solid;
    border-color: #cc8c8c;
}

.JournalEntryForm tbody.TableFooter textarea:focus {
    outline-style: none !important;
}

.JournalEntryForm tbody.TableFooter>* {
    vertical-align: top;
}

.JournalEntryForm .JournalEntrySummary>span.InputErrorMsg {
    width: 100%;
    color: #ff0000;
    font-size: 10px;
    padding-left: 20%;
    display: none;
}

.JournalEntryForm .JournalEntrySummary.HasErrors>span.InputErrorMsg {
    display: inline;
}