.JournalEntryForm thead.TableHeader {
    font-weight: 700;
    font-size: 15px;
    color: #6c6d6f;
}

.JournalEntryForm thead.TableHeader * {
    text-align: center;
    width: 200px;
}

.JournalEntryForm thead.TableHeader>tr.header2>td {
    border-bottom: 1px solid #00000033;
}

.JournalEntryForm thead.TableHeader>tr.header1 {
    font-weight: 300;
    font-size: 12px;
}